{% extends 'front.html.twig' %}

{% block title 'Stefano G. Bianchi Campo d\'Ombra' %}

{% block body %}
    <body>
    {% block content %}
        {% block header %} {{ parent() }} {% endblock %}

        <section class="body">
            <article id="banner">
                <div class="banner_image">

                    <div class="slide">
                        <img src="{{ asset('upload/Page_accueil_D.jpg') }}" alt="détail"/>
                    </div>
                </div>
            </article>
        </section>

    {% endblock %}
    </body>
{% endblock %}
