<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Stefano G Bianchi{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
    {% block body %}


        {% block footer %}

            {% block javascripts %}

            {% endblock %}

            {% endblock %}
        {% endblock %}

    </body>
</html>
